<mat-sidenav-container class="app-shell">
  <mat-sidenav
    class="app-sidenav"
    aria-label="Main navigation"
    [mode]="isHandset() ? 'over' : 'side'"
    [opened]="!isHandset()"
    #drawer
  >
    <div class="brand">
      <span class="material-symbols-outlined brand-mark">corporate_fare</span>
      <span class="brand-name">CompanyOps</span>
    </div>

    <mat-nav-list>
      @for (item of nav; track item.path) {
        @if (canSee(item)) {
          <a
            mat-list-item
            [routerLink]="item.path"
            routerLinkActive
            #rla="routerLinkActive"
            [activated]="rla.isActive"
            (click)="isHandset() && drawer.close()"
          >
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        }
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="app-toolbar">
      @if (isHandset()) {
        <button mat-icon-button aria-label="Open navigation" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span class="spacer"></span>
      @if (auth.isAuthenticated()) {
        <button mat-button [matMenuTriggerFor]="accountMenu" class="account-trigger" aria-label="Account menu">
          @if (!isHandset() && auth.userName()) {
            <span class="account-trigger-name">{{ auth.userName() }}</span>
          }
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #accountMenu="matMenu">
          @if (auth.userName()) {
            <div class="account-name">{{ auth.userName() }}</div>
          }
          <a mat-menu-item routerLink="/settings">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </a>
          <button mat-menu-item (click)="auth.logout()">
            <mat-icon>logout</mat-icon>
            <span>Sign out</span>
          </button>
        </mat-menu>
      } @else {
        <button mat-button (click)="auth.login()">
          <mat-icon>login</mat-icon>
          Sign in
        </button>
      }
    </mat-toolbar>

    <main class="app-content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
